{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div>
		<div class="bottom section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="copyright">
							<p>© <span>2019</span> <a target="_blank" href="https://www.facebook.com/aleff.jonathan" class="transition">Aleff Souza</a> All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

